html,
body {
  height:100%;
  /*padding-bottom: 20px;*/
  color: #5a5a5a;
  margin-top: 0px;
*background-color: #333;*
  /*text-align: center;*/
  /*text-shadow: 0 1px 3px rgba(0,0,0,.1);*/
}

.stretch {
  height: 100%;
  width: 100%;
}


/*NAVBAR
---------------------------------------------------------*/
/* Handle the widths */
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}
  .navbar-header {
    padding-top: 15px;
  }
  .navbar-fixed-top {
    width: 100%;  /*Must be percentage or pixels for horizontal alignment */
  }
.navbar-collapse .navbar-inverse .navbar-form {
    border-color: transparent;
    background-color: transparent;
}
.navbar-inverse {
    background-color: white;
    border-color: white;
}

.navbar-nav {
  /*padding-top: 10px;*/
}

.navbar-nav > li {
  display: inline-block;
  color: #fff;
  /*padding-top: 0;*/
}
.navbar-nav > li + li {
  margin-left: 20px;
  /*padding-top: 0;*/
}
.navbar-nav > li > a {
  padding-top: 40px;
  /*padding-right: 0px;*/
  padding-left: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF; /* IE8 proofing */
  /*color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;*/
}
.navbar-inverse .navbar-nav>li>a {
    color: #aaa;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #08c;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: black;
  border-bottom-color: #a9a9a9;
  color: #000000;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #000;
}

nav a {
  font-size: 18px;
  /*padding-bottom: 20px !important;*/
  /*padding-top: 20px !important;*/
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
nav img {
  display: inline-block;
  width: 100%;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
nav.navbar.shrink {
  min-height: 35px;
  background-color: white;
}
nav.navbar.shrink .masthead-brand {
  font-size: 16px;
  /*max-width: 25%;*/
}
nav.navbar.shrink img {
  display: inline-block;
  width: 65%;
}

nav.navbar.shrink a {
  font-size: 14px;
  color: #aaa;
  /*padding: 10px !important;*/
}
nav.navbar.shrink .navbar-toggle {
  margin: 0px 15px 8px 0;
  padding: 4px 5px;
}

.navbar-toggle {
  margin: 0px 15px 13px 0;
}
.navbar-inverse .navbar-toggle {
    background-color: transparent;
    border-color: black;
  }
.navbar-inverse .navbar-toggle .icon-bar {
  background: black; /*Change color for horizontal lines */
}

.navspace {
  padding-top: 87px;
}


.container {
  margin-right: auto;
  margin-left: auto;
}



.cover-heading {
  color: white;
  text-shadow: 2px 2px 8px #333;
}
.cover-lead {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 20px;
}




.featurette-image {
      padding-top: 20px;
      max-width: 400px;
}

.featurette {
margin: 0 auto;
}
.featurette-heading {
  font-weight: 300;
  letter-spacing: -.05rem;
  line-height: 1;
  text-align: center;
  font-size: 50px;
}
.featurette-text {
  font-size: 21px;
  text-align: left;
  padding-top: 10px;
  line-height: 1.4;
}
.featurette-textColumn {
  padding-right: 60px;
  padding-left: 60px;
}

.shout {  
  background-color: #0088CC;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.shoutQuote {  
  background: #0088CC;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.shoutQuote .btn-lg {
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: orange;
}
.shoutQuote .btn-lg:hover {
  margin-left: 20px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #FF9100;
}

/*Portfolio
-------------------------------------------------------------*/
#portfolio .portfolio-item {
  margin: 20px 0 0 20px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
   /*IE 9 */
  -webkit-transform: rotate(45deg);
   /*Safari and Chrome */
  z-index: 1051;
   }

.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal {
  /*opacity: 0;*/
  display: none;
}
.modal-backdrop{
  opacity:1000;
  transition: opacity .2s;
  position:fixed;
    height:100%;
}
.modal-backdrop.in {
    opacity:0.5 !important;
    position:fixed;
    height:100%;
}
.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
/************
forms*/

.button-width {
width: 100%;
font-weight: bold;
}
/************
footer*/
.footer {
  background-color: #354046;
  color: white;
  min-height: 80px;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer a {
  color: white;
  text-align: left;
}
.footerSig {
  background-color: #364851;
  color: white;
  text-align: center;
}
.footerSig img {
  width: 8%;
}


section {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-right: 0px;
  padding-left: 0px;
  background: #ffffff;
}
section h2 {
  font-size: 32px;
}
section.area {  
  background: #D6E7EF;
}

/*COVER CSS***
**************************************************************************/
/*
 * Globals
-------------------------------------------------- */


/* Navbar Links 
-------------------------------------------------- */
/*a, a:focus, a:hover {
  color: #fff;
}*/

/* Custom default button 
-------------------------------------------------- */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
-------------------------------------------------- */



/* Extra markup and styles for table-esque vertical and horizontal centering 
-------------------------------------------------- */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  /*min-height: 100%;*/
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: url(/images/laptop-header-2.png) no-repeat center top fixed; 

}
.site-wrapper-inner {
  display: table-cell;
  /*vertical-align: top;*/
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing 
-------------------------------------------------- */
.inner {
  padding-top: 0px;
}


/*
 * Header
-------------------------------------------------- */
.masthead-brand {
  padding-top: 0px;
  padding-bottom: 5px;
  font-family: 'Rock Salt', cursive;
  font-size: 22px;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}


.masthead-brand:hover {
  color: #000;
}



.sidebar-nav {
  margin-top: 0px;
  max-width: 250px;
  /*min-height: 500px;*/
}
/*
 * 
-------------------------------------------------- */

.cover {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  background-color: orange;
}
.chapter .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  background-color: orange;
}
.chapter .btn-lg:hover {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #FF9100;
}


/*
 * Footer
-------------------------------------------------- */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*CAROUSEL***
******************************/


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette-subHeading {
  font-size: 28px;
  font-weight: 300;
  color: #777; !important;
  line-height: 1;
  letter-spacing: -1px;
}
.fileUploader {
  background-color: #eee;
  padding: 10px;

}
.fileUploaderImg {
  max-width: 180px;
  max-height: 169px;
}



  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  



.host_plans_sty3 {
  float: left;
  width: 100%;
  padding: 90px 0px;
  text-align: center;
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}
.host_plans_sty3 .one_third {
  background: #fff;
  padding: 45px 30px 54px 30px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
}
.host_plans_sty3 .one_third img {
  border: 1px solid #2a363f;
  padding: 20px;
  width: 112px;
  border-radius: 100%;
  margin: 0 auto 20px auto;
  display: block;
}
.host_plans_sty3 .one_third li {
  padding: 5px 0px;
  list-style: none;
}
.host_plans_sty3 .one_third li i {
  color: #d9d9d9;
  margin-right: 3px;
}
.host_plans_sty3 .one_third .price h1 {
  color: #86c724;
  font-weight: 300;
}
.host_plans_sty3 .one_third .price h1 strong {
  display: inline;
}
.host_plans_sty3 .one_third .price em {
  color: #2a363f;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
}
.host_plans_sty3 .one_third a.but {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background: #86c724;
  padding: 14px 32px;
  border-radius: 27px;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.host_plans_sty3 .one_third a.but:hover {
  background: #2a363f;
} 

.bottomRight {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 20px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    float: right;
  }
  .masthead-nav {
    float: right;
  }

  .featurette-heading {
    text-align: left;
    font-weight: 300;
    letter-spacing: -.05rem;
    }

  /*section {
    padding: 75px 0;
  }
  section.foot {
    padding: 50px 0;
  background: #1c2329;
  color: white;
  }*/


  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }


  .cover-lead {
    font-size: 21px;
  } 

/** Affix and center
-------------------------------------------------- */


  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  
 
    .site-wrapper-inner {
      margin-bottom: 300px;
    }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

/*@media (min-width: 300px) {
  .featurette-heading {
    text-align: left;
    font-weight: 300;
    font-size: 28px;
    }
  }*/

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
    
  }
}